VITE_SUPABASE_URL=https://pxjemdbjndwyletatgxv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4amVtZGJqbmR3eWxldGF0Z3h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgxNzE2MzQsImV4cCI6MjA4Mzc0NzYzNH0.D-Hfa4s593BChuACbIqSW-rPL4q-WRtJQX1oj8JG1gw
